.fields {
  display: grid;
  gap: 25px;
  padding: 16px 40px;
}

.fields label {
  color: var(--primary) !important;
}

.fields > div div:after {
  border-bottom: 2px solid var(--primary);
}

.fields input {
  color: var(--secondary);
}

.fields > div:nth-child(1) input {
  color: var(--secondary-variant2);
}
.button {
  color: var(--primary);
}
